div {
    background-color: darkcyan;
    text-align: center;
}
p {
    font-family: 'segoe UI', sans-serif;
    font-weight: bold;
    color: azure;
    font-size: 24px;
}
h1 {
    font-family: 'Lucida Sans', sans-serif;
    color: blueviolet;
}
.title-heading,
.recipe-list {
    text-align: center;
}
.recipe-list {
    background-color: olivedrab;
}