div {
    background-color: darkcyan;
    text-align: center;
}
p {
    font-family: 'segoe UI', sans-serif;
    font-weight: bold;
    color: azure;
    font-size: 24px;
}
h1 {
    font-family: 'Lucida Sans', sans-serif;
    color: blueviolet;
}
.title-heading {
    text-align: center;
}
.recipe-list {
    background-color: olivedrab;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 50px;
}
.li {
    flex: 2 1 auto;
    width: 200px;
    

}